.App {
  text-align: center;
}

body {
  background-color: #0052d0 !important;
}

@font-face {
  font-family: cairo;
  src: url(/public/Fonts/Cairo/Cairo-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: cairo;
  src: url(/public/Fonts/Cairo/Cairo-Light.ttf);
  font-weight: 400;
}
@font-face {
  font-family: cairo;
  src: url(/public/Fonts/Cairo/Cairo-Medium.ttf);
  font-weight: 600;
}
